<!DOCTYPE html>
<html>
<head>
  <title>GistApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br>
<a href="#/gists/new">New Gist</a>
<br>
<a href="/users/new">New User</a>
<br>
<a href="#/session/new">Log In</a>
</body>
</html>
